Repository mamyudapao/ace-2022-d: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

chore: add deploy flow
  .github/workflows/deploy.yml
  .gitignore
  .idea/vcs.xml
  document/develop_flow.md
  packages/infrastructure/aws/task_definition.json
  packages/infrastructure/docker/docker-compose.prod.yml
Due: prettier --ignore-unknown --write

chore: add git toolbox plugin config
  .idea/git_toolbox_prj.xml
Due: prettier --ignore-unknown --write

fix: deploy workflow cannot run
  .github/workflows/deploy.yml
  packages/infrastructure/aws/task_definition.json
  packages/infrastructure/docker/docker-compose.prod.yml
Due: prettier --ignore-unknown --write

fix: disable mysql password expand in container building
  packages/infrastructure/docker/docker-compose.prod.yml
Due: prettier --ignore-unknown --write

fix: use docker push to fix retrying
  .github/workflows/deploy.yml
Due: prettier --ignore-unknown --write

fix: test
  .github/workflows/deploy.yml
Due: prettier --ignore-unknown --write

chore: remove .DS_Store
  .DS_Store
Due: prettier --ignore-unknown --write

chore: update docs
  .idea/runConfigurations/backend_start_dev.xml
  .idea/runConfigurations/frontend_start_dev.xml
  .idea/runConfigurations/lint_fix.xml
  .idea/runConfigurations/start_dev.xml
  document/images/network_architecture.png
Due: prettier --ignore-unknown --write

chore: update project preferences
  .eslintrc
  .lintstagedrc
  .prettierrc
  package.json
  packages/backend/package.json
  packages/backend/src/apigen.ts
  packages/backend/src/main.ts
  packages/backend/src/v1/prisma/prisma.module.ts
  packages/backend/src/v1/prisma/prisma.service.ts
  packages/frontend/src/pages/_app.tsx
  packages/frontend/src/utils/api.ts
  packages/infrastructure/docker/docker-compose.local.yml
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

chore: fix eslint settings
  .eslintrc
Due: prettier --ignore-unknown --write

fix: lint-staged
  .lintstagedrc
Due: prettier --ignore-unknown --write

デプロイ環境の整備とCDの実装 (#6)
  .github/workflows/deploy.yml
  .github/workflows/pr_check.yml
  .gitignore
  packages/backend/src/v1/app.module.ts
  packages/infrastructure/aws/task_definition_api.json
  packages/infrastructure/aws/task_definition_front.json
  packages/infrastructure/docker/docker-compose.local.yml
  packages/infrastructure/docker/docker-compose.prod.yml
Due: prettier --ignore-unknown --write, eslint --fix

fix: deployment environment
  packages/infrastructure/aws/task_definition_api.json
  packages/infrastructure/aws/task_definition_front.json
  packages/infrastructure/docker/docker-compose.prod.yml
Due: prettier --ignore-unknown --write

fix: port mapping
  packages/infrastructure/aws/task_definition_api.json
  packages/infrastructure/aws/task_definition_front.json
Due: prettier --ignore-unknown --write

fix: obfuscator bug
  packages/frontend/.env
  packages/frontend/next.config.js
  packages/infrastructure/aws/task_definition_front.json
Due: prettier --ignore-unknown --write

fix: frontend domain lock
  packages/infrastructure/aws/task_definition_front.json
  packages/infrastructure/docker/docker-compose.prod.yml
Due: prettier --ignore-unknown --write

fix: disable domain lock
  packages/frontend/next.config.js
Due: prettier --ignore-unknown --write

fix: deploy environment
  packages/frontend/.env
  packages/frontend/.env.production
  packages/infrastructure/aws/task_definition_front.json
  packages/infrastructure/docker/docker-compose.prod.yml
Due: prettier --ignore-unknown --write

fix: cors error
  packages/backend/.env.production
  packages/backend/src/main.ts
  packages/backend/src/v1/app.module.ts
  packages/infrastructure/aws/task_definition_api.json
Due: prettier --ignore-unknown --write, eslint --fix

fix: cors error
  .idea/runConfigurations/backend_start_production.xml
  .idea/runConfigurations/frontend_start_production.xml
  packages/backend/.env
  packages/backend/.env.production
  packages/backend/src/main.ts
  packages/infrastructure/aws/task_definition_api.json
Due: prettier --ignore-unknown --write, eslint --fix

fix: deployment bugs 🐛
  packages/backend/src/v1/app.module.ts
  packages/frontend/.env.production
  packages/frontend/next.config.js
  packages/frontend/package.json
  packages/frontend/src/utils/cookie.ts
  packages/infrastructure/aws/task_definition_api.json
  packages/infrastructure/aws/task_definition_front.json
  packages/infrastructure/docker/Dockerfile
  packages/infrastructure/docker/docker-compose.local.yml
  packages/infrastructure/docker/docker-compose.prod.yml
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

fix: obfuscation and deployment
  packages/backend/src/main.ts
  packages/frontend/next.config.js
  packages/frontend/package.json
  packages/frontend/src/utils/api.ts
  packages/infrastructure/docker/docker-compose.local.yml
  packages/infrastructure/docker/docker-compose.prod.yml
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

refactor: move env to .env file
  packages/frontend/.env.production
  packages/infrastructure/aws/task_definition_front.json
Due: prettier --ignore-unknown --write

fix: add healthcheck endpoint (#16)
  packages/backend/src/v1/app.controller.ts
  packages/backend/src/v1/app.module.ts
Due: prettier --ignore-unknown --write, eslint --fix

getUser()で趣味とデートプランを出力 (#20)
  packages/backend/src/v1/user/user.entity.ts
  packages/backend/src/v1/user/user.service.ts
Due: prettier --ignore-unknown --write, eslint --fix

UserResponseの定義の修正 (#22)
  packages/backend/src/v1/user/user.entity.ts
Due: prettier --ignore-unknown --write, eslint --fix

シードデータの追加 (#24)
  packages/backend/.env
  packages/backend/package.json
  packages/backend/src/seed.ts
  packages/backend/src/v1/app.controller.ts
  packages/backend/src/v1/app.entity.ts
  packages/backend/src/v1/app.module.ts
  packages/backend/src/v1/app.service.ts
  packages/frontend/src/utils/api.ts
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

feat: message read count (#27)
  .idea/inspectionProfiles/profiles_settings.xml
  packages/backend/prisma/migrations/20220820230539_change_unread_message_id/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/v1/talk/talk.controller.ts
  packages/backend/src/v1/talk/talk.service.ts
  packages/frontend/src/hooks/useTalk.ts
  packages/frontend/src/pages/talks/[id].tsx
  packages/frontend/src/pages/talks/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

fix: update user error (#28)
  packages/backend/src/v1/user/user.service.ts
  packages/frontend/src/hooks/useTalk.ts
  packages/frontend/src/pages/talks/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

ユーザー詳細モーダルの作成 (#17)
  packages/frontend/src/components/organisms/UserDetailModal.tsx
  packages/frontend/src/components/templates/profile/BasicProfileStep.tsx
  packages/frontend/src/pages/talks/[id].tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

Feature/fix nestjs error (#30)
  packages/backend/src/main.ts
  packages/backend/src/v1/auth/auth.service.ts
  packages/backend/src/v1/talk/talk.filter.ts
  packages/backend/src/v1/talk/talk.gateway.ts
Due: prettier --ignore-unknown --write, eslint --fix

Userのupdateをupsertに変更 (#31)
  packages/backend/src/v1/user/user.service.ts
Due: prettier --ignore-unknown --write, eslint --fix

シードの修正 (#32)
  packages/backend/src/seed.ts
Due: prettier --ignore-unknown --write, eslint --fix

Feature/add mypage (#25)
  packages/frontend/src/components/molucules/DrawerSelector.tsx
  packages/frontend/src/components/molucules/FullScreenDialog.tsx
  packages/frontend/src/pages/mypage.tsx
  packages/frontend/src/utils/getAge.ts
  packages/frontend/src/utils/localize.ts
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

fix: nestjs error
  packages/backend/src/main.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: add seeder to backend
  packages/backend/package.json
Due: prettier --ignore-unknown --write

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.{css,tsx}
